body {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  background-color: #fff;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 1000px;
  }
}

.main-block {
  display: flex;
}

.skills > div {
  margin-top: 18px;
  margin-left: auto;
  border: 4px solid #000;
  border-right: 0;
  height: 42px;
  text-align: right;
  background-color: #b7cccc;
}

.skills {
  position: relative;
  z-index: 90;
  background-color: #fff;
}

.skills__skill-backend {
  display: flex;
  width: 833px;
  text-transform: uppercase;
}

.skill {
  display: flex;
}

.skill_upper {
  text-transform: uppercase;
}

.l_backend {
  border-right: 4px solid #000;
  width: 415px;
}

.skills__backend-left {
  border-right: 4px solid #000;
  width: 418px;
}

.skills__backend-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 418px;
  background-color: #ea7387;
}

.skills__backend_num {
  text-align: left;
}

.skill_backend_text {
  position: absolute;
  right: 5px;
  bottom: -7px;
}

.skills__skill-algorithm {
  display: flex;
  width: 445px;
}

.skills__left-algorithm {
  border-right: 4px solid #000;
  width: 175px;
}

.skills__algorithm-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.skills__algorithm_text {
  position: absolute;
  right: 5px;
  bottom: -7px;
}

.skills__algorithm_num {
  text-align: left;
}

.skills__skill-frontend {
  display: flex;
  width: 438px;
  text-transform: uppercase;
}

.skills__left-frontend {
  border-right: 4px solid #000;
  width: 232px;
}

.skills__frontend-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 315px;
}

.skill__frontend_text {
  position: absolute;
  right: 5px;
  bottom: -7px;
}

.skills__frontend_num {
  text-align: left;
}

.skills__skill-disign {
  display: flex;
  width: 384px;
}

.skills__left-disign {
  border-right: 4px solid #000;
  width: 178px;
}

.skills__disign-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 214px;
}

.skills__disign_text {
  position: absolute;
  right: 5px;
  bottom: -7px;
}

.skills__disign_num {
  text-align: left;
}

.skills__skill-math {
  display: flex;
  width: 301px;
}

.skills__left-math {
  border-right: 4px solid #000;
  width: 130px;
}

.skills__math-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 172px;
}

.skills__math_text {
  position: absolute;
  right: 5px;
  bottom: -7px;
}

.skills__math_num {
  text-align: left;
}

.skills__skill-eng {
  display: flex;
  width: 437px;
}

.skills__leht-eng {
  border-right: 4px solid #000;
  width: 231px;
}

.skills__eng-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 314px;
}

.skills__eng_text {
  position: absolute;
  right: 5px;
  bottom: -7px;
}

.skills__eng_num {
  text-align: left;
}

.skill_empty {
  width: 23px;
}

.skills__skill-emotional-intellect {
  display: flex;
  width: 416px;
}

.skills__left-emotional-intellect {
  border-right: 4px solid #000;
  width: 105px;
}

.skills__emotional-intellect-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 311px;
}

.skills__emotional-intellect_text {
  position: absolute;
  right: 5px;
  bottom: -7px;
}

.skills__emotional-intellect_num {
  text-align: left;
}

.skills__skill-communication {
  display: flex;
  width: 386px;
}

.skills__left-communication {
  border-right: 4px solid #000;
  width: 207px;
}

.skills__communication-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 279px;
}

.skills__communication_text {
  position: absolute;
  right: 5px;
  bottom: -7px;
}

.skills__communication_num {
  text-align: left;
}

.skills__skill-team-work {
  display: flex;
  width: 383px;
}

.skills__left-team-work {
  border-right: 4px solid #000;
  width: 340px;
}

.skills__team-work-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 243px;
}

.skills__team-work_text {
  position: absolute;
  right: 5px;
  bottom: -19px;
}

.skills__team-work_num {
  text-align: left;
}

.skills__skill-critical-thinking {
  display: flex;
  width: 433px;
}

.skills__left-critical-thinking {
  border-right: 4px solid #000;
  width: 220px;
}

.skills__critical-thinking-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 413px;
}

.skills__critical-thinking_text {
  position: absolute;
  right: 5px;
  bottom: -7px;
}

.skills__critical-thinking_num {
  text-align: left;
}

.skills__skill_customer-focus {
  display: flex;
  width: 356px;
}

.skills__left-customer-focus {
  border-right: 4px solid #000;
  width: 270px;
}

.skills__customer-focus-right {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 186px;
}

.skills__customer-focus_text {
  position: absolute;
  right: 5px;
  bottom: -7px;
}

.skills__customer-focus_num {
  text-align: left;
}

.head {
  position: relative;
  width: 416px;
  height: 832px;
}

.head_text {
  margin-top: 40%;
  text-align: center;
}

.block-lower {
  position: absolute;
  z-index: 95;
  overflow: hidden;
  border: 4px solid #000;
  border-bottom: 3px dashed #000;
  border-radius: 0 100% 0 0;
  width: 416px;
  height: 416px;
  background-color: #f7d7dc;
}

.block-top {
  position: absolute;
  bottom: 1px;
  z-index: 95;
  overflow: hidden;
  border: 4px solid #000;
  border-radius: 0 0 100%;
  width: 416px;
  height: 416px;
  background-color: #d7f5f7;
}

.red_right {
  background-color: #ea7387;
}

.red_left {
  background-color: #ccb7bb;
}

.blue_right {
  background-color: #73e2ea;
}

.blue_left {
  background-color: #b7cccc;
}
