body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #fff;
}

.main-block{
 display: flex;


}

.skills > div{
   /* text-transform: uppercase;  */
   
    background-color:#b7cccc;
    border: 4px solid #000;
    border-right: 0px;
    height: 42px;
    text-align: right;
    margin-top: 20px;
    margin-left: auto; 
   
    
    
    


    
}
.skills{
    border-right: 4px solid #000;
    z-index: 101;
    background-color: #fff;
    position: relative;
}

/* back */
.skill_backend{
    text-transform: uppercase;
    display: flex;
    width: 633px;

}


.l_backend{
    width: 415px;
   
    border-right: 4px solid #000;
}

.r_backend{
    width: 418px;
    background-color:#ea7387;
    position: relative;  
    
}

.skill_backend_num{

    text-align: left;
}

.skill_backend_text{
    position: absolute;   
    right: 5px;
    bottom: -7px;
}

/* alg */

.skill_algorithm{
    display: flex; 
    width: 445px;  
}

.l_algorithm{
    width: 175px;
    border-right: 4px solid #000;
}

.r_algorithm{
    width: 320px;
    position: relative;  
}

.skill_algorithm_text{
    position: absolute;   
    right: 5px;
    bottom: -7px;
}

.skill_algorithm_num{
    text-align: left;
}

/* front */

.skill_frontend{
    display: flex;
    text-transform: uppercase;
    width: 438px;
}

.l_frontend{
    width: 232px;
    border-right: 4px solid #000;
   
}

.r_frontend{
    width: 315px;
    position: relative;  
}

.skill_frontend_text{
    position: absolute;   
    right: 5px;
    bottom: -7px;
}

.skill_frontend_num{
    text-align: left;
}

.skill_disign{
    display: flex;
    width: 384px;
    
}

.l_disign{
    width: 178px;
    border-right: 4px solid #000;
   
}

.r_disign{
    width: 214px;
    position: relative;  
}

.r_disign_text{
    position: absolute;   
    right: 5px;
    bottom: -7px;
}

.disign_num{
    text-align: left;
}

.skill_math{
    display: flex;
    width: 301px;
}

.l_math{
    width: 130px;
    border-right: 4px solid #000;
   
}

.r_math{
    width: 172px;
    position: relative;  
}

.skill_math_text{
    position: absolute;   
    right: 5px;
    bottom: -7px;
}
.skill_math_num{
    text-align: left;
}

.skill_eng{
    display: flex; 
    width: 437px;
}

.l_eng{
    width: 231px;
    border-right: 4px solid #000;
    

}

.r_eng{
    width: 314px;
    position: relative;  
}

.skill_eng_text{
    position: absolute;   
    right: 5px;
    bottom: -7px;
}

.skill_eng_num{ 
    text-align: left;
}

.skill_empty{
    width: 23px;
}

.skill_emotional-intellect{
    display: flex;
    width: 416px;
}


.l_emotional-intellect{
    width: 105px;
    border-right: 4px solid #000;
    

}

.r_emotional-intellect{
    width: 311px;
    position: relative;  
}


.skill_emotional-intellect_text{
    position: absolute;   
    right: 5px;
    bottom: -7px;
}

.skill_emotional-intellect_num{
    text-align: left;
}


.skill_communication{
    display: flex;
    width: 386px;
}

.l_communication{
    width: 207px;
    border-right: 4px solid #000;
    

}

.r_communication{
    width: 279px;
    position: relative;  
}


.skill_communication_text{
    position: absolute;   
    right: 5px;
    bottom: -7px;
}

.skill_communication_num{
    text-align: left;
}

.skill_team-work{
    width:383px ;
    display: flex;
}

.l_team-work{
    width: 340px;
    border-right: 4px solid #000;
    
}

.r_team-work{
    width: 243px;
    position: relative;  

}

.skill_team-work_text{
    position: absolute;   
    right: 5px;
    bottom: -19px;
}

.skill_team-work_num{
    text-align: left;
}

.skill_critical-thinking{
    width: 433px;
    display: flex;
}


.l_critical-thinking{
    width: 220px;
    border-right: 4px solid #000;
    
}

.r_critical-thinking{
    position: relative;  
    width: 413px;
}

.skill_critical-thinking_text{
    position: absolute;   
    right: 5px;
    bottom: -7px;
    
}

.skill_critical-thinking_num{
    text-align: left;
}

.skill_customer-focus{
    width: 356px;
    display: flex;
}

.l_customer-focus{
    width: 270px;
    border-right: 4px solid #000;
   

}

.r_customer-focus{
    width: 186px;
    position: relative;  
}

.skill_customer-focus_text{
    position: absolute;   
    right: 5px;
    bottom: -7px;
}

.skill_customer-focus_num{
    text-align: left;
}

.head{
    width: 832px;
    background-color: #f7d7dc;
    height: 832px;
    border-radius: 50%;
    border: 4px solid #000;
    
    position: absolute;
    left: 230px;
    z-index: 90;

}
.head_text{
    margin-left: 70%;
    margin-top:20%;
}

.block{
    z-index: 95;
    height: 416px;
    width: 416px;
    right: 0px;
    bottom: 1px;
    background-color: #d7f5f7;
    position:absolute;
    border-radius: 0  0 100% 0;
    overflow: hidden;
    border-top: 2px dashed #000 ;
}

.block_text{
    text-align: center;
    margin-top: 40%;
}

/* .block{
    width: 420px;
    height: 840px;
    background-color: forestgreen;
    position: absolute;
    left: 693px;
    bottom: 89px;
    z-index: 100;
    
} */


.red_right{
    background-color:#ea7387;
}
.red_left{
    background-color: #ccb7bb;
}

.blue_right{
    background-color: #73e2ea; 
}

.blue_left{
    background-color: #b7cccc;
}
